.Calculadora{
    border: 100px;
    align-items: center;
}

.CajaPadre{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    height: 506px;
    width: 204px;
}

body{
    background: radial-gradient(to right, #8d8d8d, #505050);
}